@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@plugin "daisyui";
@plugin "tailwind-scrollbar-hide";

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* background colors */
  --color-mint-500: #181C14;
  --color-mint-600: #3C3D37;
  --color-mint-700: #697565;
  --color-mint-800: #ECDFCC;

  --color-hover-text: #4169e1;

  /* font color */
  --color-text-primary: #191970;
}
