@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@plugin "daisyui";
@plugin "tailwind-scrollbar-hide";

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* background colors */
  --color-mint-500: #181c14;
  --color-mint-600: #87CEEB;
  --color-mint-700: #697565;
  --color-mint-800: #ecdfcc;
  --color-mint-900: #2b6cb0;

  --color-hover-text: #64B5F2;

  /* font color */
  --color-text-primary: white;
  --color-text-secondary: #F39C12; /*Home text color*/

  --color-btn-primary: #010989;
}
